.privacyPolicyContainer {
  display: grid;
  gap: 1.5rem;
  padding: 6rem 13rem 1.5rem 13rem;

  .privacyPolicyTitle {
    justify-self: center;
    font-size: 2rem;
    font-weight: bold;
    font-family: "Noto Sans JP";
  }

  .privacyPolicyContentContainer {
    display: grid;
    background-color: #fff;
    padding: 1.5rem 8rem 1.5rem 8rem;
    border-radius: 1rem;
  }

  .privacyPolicySection {
    padding-top: 1.5rem;
  }
}
