.signupContainer {
  display: grid;
  .signupContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: scroll;
    .signupFormContent {
      max-width: 31rem;
    }
  }
}

// 1025px以上（PC）
@media (min-width: 1024px) {
  .signupContainer {
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;
    height: calc(100vh - 50px);
  }
  .signupFormContent {
    width: 80%;
  }
}

// 1024px未満（タブレット）
@media (min-width: 768px) AND (max-width: 1023px) {
  .signupContainer {
    height: calc(100vh - 50px);
  }
  .registerImageContainer {
    display: none;
  }
  .signupFormContent {
    width: 80%;
  }
}

// 1024px未満（タブレット）
@media (max-width: 767px) {
  .signupContainer {
    height: calc(100vh - 50px);
  }
  .registerImageContainer {
    display: none;
  }
  .signupFormContent {
    width: 100%;
  }
}

.errorMailMessage {
  color: red;
}

.errorPasswordMessage {
  color: red;
}
