.userPostsItemImageContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 1rem;
  height: 100%;
  width: 100%;

  .userPostsItemImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
  }

  &.wide {
    grid-column: span 1; // 奇数番目のアイテムは1カラム
    aspect-ratio: 1 / 1; // 正方形
  }

  &.tall {
    grid-column: span 2; // 偶数番目のアイテムは2カラム（ワイド）
    aspect-ratio: 2 / 1; // 横長
  }

  &:hover {
    .userInfoLikeContainer {
      opacity: 1;
      visibility: visible;
      transition: opacity 0.3s ease, visibility 0.3s ease;
      z-index: 1;

      .likesPostsItemLikeContents {
        opacity: 1;
        visibility: visible;
        transition: opacity 0.3s ease, visibility 0.3s ease;
        z-index: 3;
      }

      .userInfo {
        opacity: 1;
        visibility: visible;
        transition: opacity 0.3s ease, visibility 0.3s ease;
        z-index: 2;

        .likesPostsItemLikeContents {
          opacity: 1;
          visibility: visible;
          transition: opacity 0.3s ease, visibility 0.3s ease;
          z-index: 2;
        }
      }
    }

    &:before {
      opacity: 1; // ホバー時に表示
      transform: translateY(0); // 元の位置に移動
    }
  }

  .likesPostsItemImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
    cursor: pointer;
  }

  .likesPostsItemImageContents {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    min-width: 4rem;

    .MdOutlinePhoto {
      color: white;
      // font-size: 1.5rem;
      width: 1.5rem;
      height: 1.5rem;
    }

    .likesPostsItemImageContentsText {
      color: white;
      margin-left: 0.5rem;
      font-size: 1rem;
      font-weight: bold;
    }
  }

  .userInfoLikeContainer {
    background-color: rgba(0, 0, 0, 0.3);
    height: 6rem;
    position: absolute;
    width: 100%;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    border-radius: 0 0 0.5rem 0.5rem;

    .userInfo {
      position: absolute;
      bottom: 1rem;
      left: 0;
      width: 100%;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.3s ease, visibility 0.3s ease;
      display: flex;
      flex-direction: column;
      padding: 0 1rem;

      .likesPostsItemLikeContents {
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease, visibility 0.3s ease;
      }

      .userInfoTitle {
        color: #ffffff;
        font-size: 1.5rem;
        font-weight: bold;
      }

      .userInfoContainer {
        display: flex;
        flex-direction: row;
        align-items: center;

        .userInfoIcon {
          object-fit: contain;
          position: relative !important;
          width: auto !important;
          max-width: 2rem;
          max-height: 2rem;
        }

        .userInfoName {
          color: #fff;
          font-size: 1rem;
          margin-left: 0.25rem;
          cursor: pointer;
        }
      }
    }

    .likesPostsItemLikeContents {
      position: absolute;
      bottom: 1.5rem;
      right: 1rem;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.3s ease, visibility 0.3s ease;

      .likesIcon {
        object-fit: contain;
        position: relative !important;
        width: auto !important;
        max-width: 3rem;
        max-height: 3rem;
      }

      .likesPostsItemLikeItem {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 3rem;
        max-height: 3rem;
        cursor: pointer;
      }
    }
  }
}
