.headerContainer {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  z-index: 99;
  display: grid;
  gap: 4rem;
  grid-auto-flow: column;
  grid-template-columns: 120px 1fr auto;
  padding: 0.5rem 1.5rem;
  background-color: #fff;
  min-height: 4rem;
  box-shadow: hsla(0 0% 0% / 0.1) 0 0.5rem 1rem;

  .headerImageContainer {
    height: 4rem;
    position: relative;
    min-width: 7.5rem;
    border-radius: 50%;

    .logo {
      width: auto !important;
      cursor: pointer;
    }
  }

  .searchInputContainer {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0.5rem 0;

    input {
      height: 100%;
      width: 100%;
      padding: 0 0 0 3.5rem;
      border: 1px solid #d1d5db;
      border-radius: 4px;
      color: #5d5d5d;
    }

    .FaSearch {
      position: absolute;
      left: 1rem;
      top: 50%;
      transform: translateY(-50%);
      color: #5d5d5d;
      pointer-events: none;
    }
  }

  .headerButtonsContainer {
    display: grid;
    gap: 2rem;
    grid-auto-flow: column;
    grid-template-columns: 1fr auto;
    place-content: center;
  }

  .signInButton {
    background-color: #fff;
    color: #69beef;
    border: 1px solid #69beef;
    text-align: center;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 2rem;

    .signInButtonText {
      font-size: 1rem;
      font-weight: bold;
    }

    transition: filter 0.2s;

    &:hover {
      filter: brightness(0.95);
    }
  }

  .signUpButton {
    background-color: #69beef;
    color: white;
    text-align: center;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 2rem;

    .signUpButtonText {
      font-size: 1rem;
      font-weight: bold;
    }

    transition: filter 0.2s;

    &:hover {
      filter: brightness(0.95);
    }
  }

  .postButtonContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;

    button {
      background-color: #69beef;
      color: white;
      text-align: center;
      border-radius: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.5rem 2rem;
      height: 3rem;

      .postButtonText {
        font-size: 1rem;
        font-weight: bold;
        margin-right: 1rem;
      }
    }
  }

  .userIconContainer {
    display: flex;
    align-items: center;

    .dropdownMenuIcon {
      cursor: pointer;
    }

    .userProfileIcon {
      border-radius: 50%;
      aspect-ratio: 1/1;
      object-fit: cover;
    }

    img {
      margin-right: 0.5rem;
    }

    .moduleDrawerMenuContent {
      display: grid;
      grid-auto-flow: row;
      gap: 2.5rem;

      .moduleDrawerMenuSection {
        .moduleDrawerMenutext {
          font-size: 1.5rem;
          padding: 0.25rem 1.5rem;
          font-family: "Noto Sans JP", sans-serif;
          cursor: pointer;
          display: block;
          background-color: #fff;
          transition: filter 0.2s;

          &:hover {
            filter: brightness(0.95);
          }
        }
      }
    }
  }

  .headerMobileContainer {
    display: none;
    height: 3rem;
    width: 3rem;
    background: #8acbf2;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    overflow: hidden;

    .headerMobileHumburger {
      transition: all 0.4s;

      span {
        position: absolute;
        background: #fff;
        display: inline-block;
        border-radius: 3px;
        left: 13px;
        height: 3px;
        transition: all 0.4s;
        width: 50%;

        &:nth-of-type(1) {
          top: 16px;
        }

        &:nth-of-type(2) {
          top: 24px;
        }

        &:nth-of-type(3) {
          top: 32px;
        }
      }
    }

    .headerMobileHumburgerOpen {
      transform: rotatex(360deg);

      span {
        &:nth-of-type(1) {
          width: 45%;
          top: 18px;
          left: 14px;
          transform: translateY(6px) rotate(-135deg);
        }

        &:nth-of-type(2) {
          opacity: 0;
        }

        &:nth-of-type(3) {
          width: 45%;
          top: 30px;
          left: 14px;
          transform: translateY(-6px) rotate(135deg);
        }
      }
    }
  }
}

.headerMobileDrawerMenu {
  width: 0;
  color: #000;
  // background-color: rgb(34, 35, 36);
  background-color: #fff;
  overflow-y: auto;
  height: 0;
  opacity: 0;

  .headerMobileDraweContainer {
    display: flex;
    flex-direction: column;
    height: 100%;

    // padding: 0 1.5rem;
    .searchInputMobileContainer {
      position: relative;
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
      padding: 0.5rem 1.5rem;
      height: 4rem;

      input {
        height: 100%;
        width: 100%;
        padding: 0.8rem 0 0.8rem 2.5rem;
        border: 1px solid #d1d5db;
        border-radius: 4px;
        color: #5d5d5d;
      }

      .FaSearch {
        position: absolute;
        left: 2rem;
        top: 50%;
        transform: translateY(-50%);
        color: #5d5d5d;
        pointer-events: none;
      }
    }

    .headerMobileButtonsContainer {
      padding: 0.5rem 0;
      display: flex;
      flex-direction: column;
      width: 100%;

      .signInButton {
        background-color: #fff;
        color: #69beef;
        border: 1px solid #69beef;
        text-align: center;
        border-radius: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.7rem 3rem;
        max-width: 100%;
        margin: 0 1.5rem 1rem;

        .signInButtonText {
          font-size: 1rem;
          font-weight: bold;
        }

        transition: filter 0.2s;

        &:hover {
          filter: brightness(0.95);
        }
      }

      .signUpButton {
        background-color: #69beef;
        color: white;
        text-align: center;
        border-radius: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.7rem 2rem;
        max-width: 100%;
        margin: 0 1.5rem;

        .signUpButtonText {
          font-size: 1rem;
          font-weight: bold;
        }

        transition: filter 0.2s;

        &:hover {
          filter: brightness(0.95);
        }
      }

      .postButtonContainer {
        padding: 0 1.5rem;
        display: flex;

        button {
          background-color: #69beef;
          color: white;
          text-align: center;
          border-radius: 2rem;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0.7rem 2rem;
          width: 100%;
          margin-bottom: 1rem;

          .postButtonText {
            font-size: 1rem;
            font-weight: bold;
            margin-right: 1rem;
          }
        }
      }
    }
  }

  .userIconContainer {
    display: flex;
    flex-direction: column;

    .userProfileContainer {
      padding: 0 1.5rem;
      display: flex;
      flex-direction: column;
      margin: 2rem 0;
      color: #000;

      .userProfileIcon {
        margin-bottom: 1rem;
        border-radius: 50%;
        aspect-ratio: 1/1;
        object-fit: fill;
      }

      .userNameText {
        font-size: 1.5rem;
        font-weight: bold;
        line-height: 2.5rem;
      }

      .userIdText {
        font-size: 0.9rem;
      }
    }

    .moduleDrawerMenuContent {
      display: grid;
      grid-auto-flow: row;

      .moduleDrawerMenuSection {
        .moduleDrawerMenuLinkContainer {
          padding: 0.5rem 1.5rem;
          background-color: #fff;
          transition: filter 0.2s;

          &:hover {
            filter: brightness(0.95);
          }

          .moduleDrawerMenutext {
            font-size: 1rem;
            font-weight: bold;
            font-family: "Noto Sans JP", sans-serif;
            cursor: pointer;
            display: block;
          }
        }

        .moduleDrawerMenuLinkAccountSettingsContainer {
          padding: 1.5rem 1.5rem;
          background-color: #fff;
          transition: filter 0.2s;

          &:hover {
            filter: brightness(0.95);
          }

          .moduleDrawerMenutext {
            font-size: 1rem;
            font-weight: bold;
            font-family: "Noto Sans JP", sans-serif;
            cursor: pointer;
            display: block;
          }

        }

        .moduleDrawerMenuLinkLogoutContainer {
          padding: 0.5rem 1.5rem 2rem 1.5rem;
          background-color: #fff;
          transition: filter 0.2s;

          &:hover {
            filter: brightness(0.95);
          }

          .moduleDrawerMenutext {
            font-size: 1rem;
            font-weight: bold;
            font-family: "Noto Sans JP", sans-serif;
            cursor: pointer;
            display: block;
          }

        }
      }
    }
  }
}

.headerMobileDrawerMenuOpen {
  width: 100%;
  height: 100vh;
  opacity: 1;
  z-index: 30;
  position: fixed;
  padding: 6rem 0;
}

@media screen and (min-width: 1040px) {
  .headerMobileDrawerMenu {
    display: none;
  }
}

// 1,039px未満（タブレット）
@media (max-width: 1039px) {
  .headerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .searchInputContainer {
    display: none !important;
  }

  .headerButtonsContainer {
    display: none !important;
  }

  .headerMobileContainer {
    display: block !important;
  }
}