.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* shadow-md に相当 */
  display: flex;
  align-items: center;
  z-index: 50;
  padding: 0 1.5rem;

  .logo {
    padding-left: 1.5rem;
  }

  .searchInput {
    flex: 1;
    margin-left: 165px;
    margin-right: 165px;
    position: relative;

    div {
      position: relative;

      input {
        width: 100%;
        max-width: 970px;
        height: 32px;
        padding-left: 35px;
        border: 1px solid #D1D5DB;
        border-radius: 4px;
        color: #5D5D5D;
      }

      .FaSearch {
        position: absolute;
        left: 12px;
        top: 50%;
        transform: translateY(-50%);
        color: #5D5D5D;
        pointer-events: none;
      }
    }
  }

  .headerButtonsContainer {
    display: flex;
    flex-shrink: 0;
    position: relative;
    align-items: center;
    justify-content: center;
  }

  .signInButton {
    width: 118px;
    height: 32px;
    background-color: white;
    border: 1px solid #69beef;
    color: #69beef;
    font-size: 12px;
    font-weight: bold;
    line-height: 15px;
    letter-spacing: 0.21666669845581055px;
    text-align: center;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .signUpButton {
    width: 118px;
    height: 32px;
    background-color: #69beef;
    color: white;
    font-size: 12px;
    font-weight: bold;
    line-height: 15px;
    letter-spacing: 0.21666669845581055px;
    text-align: center;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1.5rem;
  }

  .postButton {
    display: flex;
    padding-right: 1.5rem;

    button {
      width: 118px;
      height: 32px;
      background-color: #69beef;
      border: 1px solid #69beef;
      color: white;
      font-size: 12px;
      font-weight: bold;
      letter-spacing: 0.2167px;
      text-align: center;
      border-radius: 16px;
      display: flex;
      align-items: center;
      justify-content: center;

      .FaCamera {
        margin-left: 8px;
        width: 20px;
        height: 18px;
      }
    }
  }

  .userIcon {
    display: flex;
    align-items: center;

    img {
      padding-right: 8px;
    }

    .RiArrowDownSLine {
      width: 30px;
      height: 24px;
    }
  }
}
