.profileHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 560px;
  background-color: #d9d9d9;
  position: relative;

  .profileHeaderIcon {
    position: absolute;
    top: 276px;
    left: 24px;
  }

  .profileUserName {
    position: absolute;
    top: 326px;
    left: 308px;

    .profileUserNameText {
      font-size: 48px;
      font-weight: bold;
      color: #ffffff;
    }
  }

  .profileUserStatus {
    position: absolute;
    top: 400px;
    left: 308px;
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    display: flex;

    .profileLikeCount {
      padding: 0 1.5rem;
      border-right: 2px solid #ffffff;
    }

    .profilePostCount {
      padding: 0 1.5rem;
      border-right: 2px solid #ffffff;
    }

    .profileViewCount {
      padding: 0 1.5rem 0 0;
      border-right: 2px solid #ffffff;
    }

    .profileUserStatusItem:last-child {
      border-right: none;
    }
  }
}

.tabNavivation {
  height: 120px;
  width: 100%;
  background-color: #303030;
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
  gap: 1.5rem;
  position: relative;

  .followButton {
    position: absolute;
    right: 7rem;
    top: 50%;
    transform: translateY(-50%);
    background-color: #69beef;
    width: 260px;
    height: 80px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;

    .followButtonText {
      font-size: 24px;
      font-weight: bold;
      color: #ffffff;
    }
  }

  .threeDots {
    position: absolute;
    right: 1.5rem;
    top: 50%;
    transform: translateY(-50%);
    width: 64px;
    height: 64px;
    background-color: #ffffff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .tabNavivationItem {
    font-size: 32px;
    font-weight: bold;
    color: #ffffff;
    justify-content: center;
    padding: 0 82px;
    position: relative;
    cursor: pointer;
    transition: color 0.3s ease;
  }

  .tabNavivationItem.active::after {
    content: "";
    position: absolute;
    bottom: -30px;
    left: 50%;
    width: 60%;
    height: 6px;
    background-color: #69beef;
    transform: translateX(-50%);
    transition: all 0.3s ease-in-out;
  }
}