.profileHeaderContainer {
  width: 100%;
  min-height: 35rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 2rem;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
  }

  .headerIconEditContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    padding: 4rem;
    z-index: 10;

    .profileInputTextContainer {
      color: #fff;
      font-weight: bold;
      font-size: 0.8rem;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .headerUserIconInput {
      width: 100%;
      height: 100%;
    }

    .headerUserIconInputButtonContainer {
      display: flex;
      align-items: center;
      background-color: #69beef;
      padding: 0.5rem;
      border-radius: 0.5rem;
      // border: 2px solid #fff;
      gap: 0.5rem;
      font-size: 0.8rem;
      color: #fff;
      font-weight: bold;

      .headerUserIconInputButtonImage {
        width: 20px;
        height: 20px;
        object-fit: contain;
      }
    }
  }

  .profileHeaderContent {
    display: grid;
    gap: 4rem;
    min-height: 13rem;
    height: 100%;
    width: 100%;
    align-items: center;
    z-index: 10;

    .profileHeaderUserIconContainer {
      width: 100%;
      height: 100%;
      position: relative;
    
      .profileHeaderUserIconInputContainer {
        width: 100%;
        height: 100%;

        .profileHeaderUserIconInput {
          z-index: 10;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          padding: 0 0.5rem;
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 0.5rem;

          .profileInputTextContainer {
            color: #fff;
            font-weight: bold;
            font-size: 0.8rem;
            display: flex;
            flex-direction: column;
            align-items: center;

            .profileInputText {
              font-size: 0.8rem;
            }
          }

          .profileHeaderUserIconInputButtonContainer {
            display: flex;
            align-items: center;
            background-color: #69beef;
            padding: 0.5rem;
            border-radius: 0.5rem;
            // border: 2px solid #fff;
            font-size: 0.8rem;
            gap: 0.5rem;
            color: #fff;
            font-weight: bold;

            .profileHeaderUserIconInputButtonImage {
              width: 20px;
              height: 20px;
              object-fit: contain;
            }
          }
        }

        .profileUserIconContainerEdit {
          aspect-ratio: 1/1;
          z-index: 0;
          position: relative;
          overflow: hidden;

          .profileHeaderUserIcon {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 50%;
          }

          &::after {
            aspect-ratio: 1/1;
            border-radius: 50%;
            content: "";
            position: absolute;
            inset: 0;
            background-color: rgba(0, 0, 0, 0.4);
            z-index: 20;
          }
        }
      }

      .profileUserIconContainer {
        .profileHeaderUserIcon {
          aspect-ratio: 1/1;
          width: 100%;
          height: 100%;
          border-radius: 50%;
          object-fit: cover;
        }
      }
    }

    .profuleHeaderInfomationContainer {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-self: start;

      .profileUserNameContainer {
        color: #fff;
        font-family: "Noto Sans JP";
        padding: 1rem 0;

        .profileUserNameText {
          font-weight: bold;
          font-size: 3rem;
        }

        .profileUserNameInputContainer {
          color: #000;
          .profileUserNameInput {
            border: 1px solid #aaa;
            border-radius: 0.5rem;
            padding: 0.8rem 1rem;
            width: 100%;
            font-size: 3rem;
          }
        }
      }

      .profuleUserStatusContainer {
        display: flex;
        font-size: 1.5rem;
        gap: 1.5rem;
        font-weight: lighter;
        color: #fff;
        font-family: "Noto Sans JP";
        font-weight: bold;
        white-space: nowrap;

        > *:not(:first-child) {
          position: relative;
          padding-left: 1.5rem;
      
          &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 2px;
            height: 1em;
            background-color: #fff;
          }
        }
      }

      .mobileButtonContainer {
        display: flex;
        align-items: center;
        gap: 2rem;

        .mobileEditProfileButtonContainer {
          color: #151c4b;
          background-color: #fff;
          border: #151c4b;
          border-radius: 1rem;
          padding: 0.5rem 3rem;
        }

        .mobileEditProfileStoreButtonContainer {
          color: #fff;
          background-color: #9bea4d;
          border: #9bea4d;
          border-radius: 1rem;
          padding: 0.5rem 3rem;
        }

        .mobileUnFollowButtonContainer {
          color: #69beef;
          background-color: #fff;
          border: #69beef;
          border-radius: 1rem;
          padding: 0.5rem 3rem;
        }

        .mobileFollowButtonContainer {
          color: #fff;
          background-color: #69beef;
          border-radius: 1rem;
          padding: 0.5rem 3rem;
        }
      }
    }
  }
}

.tabNavigationConatiner {
  background-color: #000;
  display: flex;
  justify-content: space-between;
  color: #fff;
  padding: 0 1.5rem;
  height: 4rem;

  .tabNavigationContent {
    display: flex;
    flex-direction: row;
    cursor: pointer;

    .tabNavigationItem {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      min-width: 8rem;
      box-sizing: border-box;

      .tabNavigationItemText {
        font-weight: bold;
        font-size: 1rem;
      }
    }
  }

  .tabNavigationButtonContainer {
    display: flex;
    align-items: center;
    gap: 2rem;

    .editProfileButtonContainer {
      color: #151c4b;
      background-color: #fff;
      border: #151c4b;
      border-radius: 1rem;
      padding: 0.5rem 2rem;

      .threeDots {
        background-color: #fff;
        color: #000;
        height: 2.5rem;
        width: 2.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
      }

      .editProfileButton {}
    }

    .editProfileStoreButtonContainer {
      color: #fff;
      background-color: #9bea4d;
      border: #9bea4d;
      border-radius: 1rem;
      padding: 0.5rem 2rem;

      .threeDots {
        background-color: #9bea4d;
        color: #000;
        height: 2.5rem;
        width: 2.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
      }

      .editProfileStoreButton {}
    }

    .unFollowButtonContainer {
      color: #69beef;
      background-color: #fff;
      border: #69beef;
      border-radius: 1rem;
      padding: 0.5rem 2rem;

      .threeDots {
        background-color: #fff;
        color: #000;
        height: 2.5rem;
        width: 2.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
      }

      .unFollowButton {}
    }

    .followButtonContainer {
      color: #fff;
      background-color: #69beef;
      border-radius: 1rem;
      padding: 0.5rem 2rem;

      .threeDots {
        background-color: #fff;
        color: #000;
        height: 2.5rem;
        width: 2.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
      }

      .followButton {}
    }
  }
}

.active {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px; // 下線の高さ
    background-color: #69beef;
  }
}

// Ipad Miniのサイズに合わせた
@media (min-width: 768px) {
  // .profileHeaderContainer {
  //   margin-top: 5rem;
  // }

  .profileHeaderContent {
    grid-auto-flow: column;
    grid-template-columns: 13rem auto;
    max-width: 100%; // 必要であれば追加（中央寄せを阻害しないように）
    margin: 0 auto; // 中央寄せ
    align-items: center; // 高さを揃える
  }

  .profileHeaderUserIconInputContainer {
    position: relative;
  }

  .mobileButtonContainer {
    display: none !important;
  }

}

@mixin profileHeaderUserIconContainerBase {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  // padding: 0 0.5rem;
}

@media (max-width: 768px) {

  .profileHeaderUserIconInputContainer {
    position: relative;
    max-width: 14rem;

    .profileHeaderUserIconInput {
      z-index: 100 !important;
    }
  }

  .profileUserIconContainer {
    @include profileHeaderUserIconContainerBase;

    .profileHeaderUserIcon {
      aspect-ratio: 1/1 !important;
      border-radius: 50% !important;
      object-fit: cover !important;
    }
  }

  .profileUserIconContainerEdit {
    @include profileHeaderUserIconContainerBase;
    width: 100%;

    .profileHeaderUserIcon {
      aspect-ratio: 1/1 !important;
      border-radius: 50% !important;
      object-fit: cover !important;
    }
  }

  .profileHeaderContent {
    grid-auto-flow: row;
    grid-template-rows: 1fr auto;
  }

  .profuleHeaderInfomationContainer {
    align-items: center;
  }

  .profileHeaderUserIconContainer {
    display: flex;
    justify-content: center;
    aspect-ratio: 2/1;
  }

  .profileHeaderContainer {
    padding: 12rem 3rem 2rem 3rem !important;

    .profuleUserStatusContainer {
      font-size: 1rem !important;
    }
  }

  .profileUserNameText {
    font-size: 2rem !important;
  }

  .mobileButtonContainer {
    display: flex !important;
    align-items: center !important;
    gap: 2rem !important;
    padding: 2rem 0 0 !important;
  }

  .unFollowButtonContainer {
    display: none !important;
  }

  .followButtonContainer {
    display: none !important;
  }

  .editProfileButtonContainer {
    display: none !important;
  }

  .editProfileStoreButtonContainer {
    display: none !important;
  }
}