.profileContentContaienr {
  .profileContent {
    display: grid;
    gap: 1.5rem;

    width: 100%;
    height: 100%;
    padding: 1.5rem 1.5rem;
    min-height: 400px;

    .profileContentIntroduction {
      width: 100%;
      background-color: #ffffff;
      padding: 1rem;
      border-radius: 1rem;
      font-size: 24px;
      color: #000000;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      .profileIntroduceTitle {
        font-size: 1.5rem;
        font-weight: bold;
      }
      .profileIntroduce {
        font-size: 1rem;
        font-weight: lighter;
        word-break: break-all;
      }
    }

    .profileSocialLinksContainer {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      width: 100%;
      background-color: #ffffff;
      padding: 1rem;
      border-radius: 1rem;
      .profileSocialLinksTitle {
        font-weight: bold;
        font-size: 1.5rem;
      }
      .profileIntroduceContent {
        display: flex;
        align-items: center;
        gap: 1rem;
        .profileIntroduceLink {
          font-weight: lighter;
          word-break: break-word;
          overflow-wrap: break-word;
          flex: 1;
        }
      }
    }
  }

  .userPostPopularContainer {
    width: 100%;
    height: auto;
    padding: 3rem 1.5rem;
    display: flex;
    flex-direction: column;
    .userPostPopularTitle {
      color: #151c4b;
      // font-size: 2.25rem;
      font-size: 3vw;
      font-weight: bold;
      font-family: "Noto Sans JP";
      margin-bottom: 2rem;
    }
    .userPostPopularListConatiner {
      display: grid;
      gap: 1rem;
      width: 100%;
    }
  }
}

@media (min-width: 1280px) {
  .userPostPopularListConatiner {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 1279px) {
  .userPostPopularListConatiner {
    overflow-x: auto;
    grid-auto-flow: column;
  }
}

@media (min-width: 1040px) {
  .profileContent {
    grid-auto-flow: column;
    grid-template-columns: 3fr 2fr;
  }
  .profileIntroduceLink {
    font-size: 1.5rem;
  }
}

@media (max-width: 1039px) {
  .profileContent {
    grid-auto-flow: row;
    grid-template-rows: 1fr 1fr;
  }
  .profileIntroduceLink {
    font-size: 1rem;
  }
}
