.otherPostsContainer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  .otherPostsTitle {
    color: #151c4b;

    // font-size: 2.25rem;
    font-size: 3vw;
    font-weight: bold;
    font-family: "Noto Sans JP";
    margin-bottom: 2rem;
  }
  .otherPostsListContainer {
    max-height: 20rem;
    display: grid;
    gap: 1rem;
    width: 100%;
  }
}

// 1,280px以上（デスクトップ）
@media (min-width: 1280px) {
  .otherPostsListContainer {
    grid-template-columns: repeat(4, 1fr);
  }
}

// 1040px以上1,279px未満（デスクトップ中）
@media (max-width: 1279px) {
  .otherPostsListContainer {
    overflow-x: auto;
    grid-auto-flow: column;
  }
}
