.container {
  // margin-top: 6rem;
  display: flex;
  background-color: #fff;
  width: 100%;
  max-width: 90rem;

  .postFormContainer {
    width: 100%;
    position: relative;

    .closeButton {
      position: absolute;
      top: 0;
      right: 0;
      padding: 0.5rem;
      border: none;
      background-color: transparent;
      margin: 0.5rem;

      &:hover {
        background-color: #000;
        opacity: 0.2;
        border-radius: 50%;
        cursor: pointer;
        color: #fff;
      }
    }

    .postFormInputArea {
      .postTitleContent {
        display: flex;
        align-items: center;
        border-bottom: 1px solid;
        padding: 1rem 2rem;

        .postTitle {
          font-size: 1.3rem;
          font-weight: bold;
        }
      }

      .postFormInputContent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 6rem 2rem;
        gap: 2rem;

        .postFormInputContentBorder {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          border: 2px dotted #000;

          .postFormLogoContainer {
            max-width: 10rem;
            height: 20%;
          }

          .postFormInputTextContainer {
            font-size: 1rem;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .postFormInputText {
              text-align: center;
              font-weight: bold;
              font-size: 1rem;
            }

            .postFormInputButtonContainer {
              font-size: 0.8rem;
              margin-top: 1rem;
              display: flex;
              gap: 0.5rem;
              padding: 0.5rem 1rem;
              border: 1px solid;
              border-radius: 0.5rem;
            }
          }
        }
      }
    }

    .postTitleContent {
      display: flex;
      align-items: flex-start;
      border-bottom: 1px solid;
      padding: 1rem 2rem;

      .postTitle {
        font-size: 1.3rem;
        font-weight: bold;
      }
    }

    .postContainer {
      max-height: 90vh;
      display: flex;
      flex-direction: column;

      .postDetailContainer {
        display: grid;

        // height: 40rem; // 固定またはmax-heightでもOK
        overflow: hidden;
        overflow-y: scroll;

        .postDetailContent {
          flex: 1;
          border-right: 2px solid;
          padding: 1rem 2rem;

          .postDetailTitleContainer {
            margin-bottom: 1.5rem;
            font-size: 1em;
            font-weight: bold;

            .postDetailTitleInput {
              width: 100%;
              padding: 8px 10px;
              border: 1px solid #969da3;
              border-radius: 3px;
              line-height: 1.5;
              background-color: #f2f8f8;
            }
          }

          .postDetailTagContainer {
            margin-bottom: 1.5rem;

            .postDetailTagContent {
              display: flex;
              flex-direction: column;

              .postDetailTagInput {
                width: 100%;
                max-width: 20rem;
                padding: 8px 10px;
                border: 1px solid #969da3;
                border-radius: 3px;
                font-size: 1em;
                line-height: 1.5;
                background-color: #f2f8f8;
              }
            }

            .postDetailTagArea {
              margin-top: 0.5rem;
              display: flex;
              flex-direction: row;
              row-gap: 0.5rem;
              column-gap: 0.5rem;
              flex-wrap: wrap;
              width: 100%;

              .postDetailTag {
                display: flex;
                padding: 0.5rem;
                border: 1px solid #000;
                border-radius: 0.5rem;
                align-items: center;

                .postDetailTagText {
                  margin-right: 0.5rem;
                  font-weight: bold;

                  span {
                    margin-left: 0.1rem;
                  }
                }

                .postDetailTagClear {
                  font-weight: bold;
                  font-size: 1.5rem;
                  height: 1rem;
                  display: flex;
                  align-items: center;
                }
              }
            }
          }

          .postDetailAgeLimitContainer {
            margin-bottom: 1.5rem;

            .postDetailAgeLimitContent {
              display: flex;
              flex-wrap: wrap;
              border: none;

              .postDetailAgeLimitLabel {
                font-size: 0.8rem;
                gap: 0.5rem;
                display: flex;
                align-items: center;
                margin-right: 1rem;
                position: relative;
                cursor: pointer;

                &::before {
                  width: 1.5rem;
                  display: inline-block;
                  height: 1.5rem;
                  border-radius: 50%;
                  border: 2px solid #d6dde3;
                  content: "";
                  box-sizing: border-box;
                }

                &:has(:checked)::after {
                  position: absolute;
                  top: 50%;
                  left: 0.75rem;
                  transform: translate(-50%, -50%);
                  width: 0.7rem;
                  height: 0.7rem;
                  background-color: #2589d0;
                  border-radius: 50%;
                  content: "";
                }

                &:has(:checked)::before {
                  border-color: #2589d0;
                }

                .postDetailAgeLimitInput {
                  display: none;
                }

                &:not(:first-child) {
                  margin-left: 0.5rem;
                }
              }
            }
          }

          .postImageTypeContainer {
            margin-bottom: 1.5rem;

            .postImageTypeContent {
              display: flex;
              flex-wrap: wrap;
              border: none;

              .postImageTypeLabel {
                font-size: 0.8rem;
                display: flex;
                align-items: center;
                margin-right: 1rem;
                position: relative;
                cursor: pointer;
                gap: 0.5rem;

                &::before {
                  width: 1.5rem;
                  height: 1.5rem;
                  border-radius: 3px;
                  border: 2px solid #d6dde3;
                  content: "";
                }

                &:has(:checked)::after {
                  position: absolute;
                  top: 5px;
                  left: 9px;
                  transform: rotate(45deg);
                  width: 7px;
                  height: 12px;
                  border: solid #2589d0;
                  border-width: 0 3px 3px 0;
                  content: "";
                }

                .postImageTypeInput {
                  display: none;
                  margin-left: 0.5rem;
                }

                &:not(:first-child) {
                  margin-left: 0.5rem;
                }
              }
            }
          }


          .postDetailTextAreaContainer {
            margin-bottom: 1.3rem;

            .postDetailTextArea {
              field-sizing: content;
              width: 100%;
              min-height: 5rem;
              border: 1px solid #969da3;
              padding: 8px 10px;
              background-color: #f2f8f8;
            }
          }

          .postDetailMaterialContainer {
            display: flex;
            flex-direction: column;

            .postDetailMaterialContent {
              display: flex;
              flex-direction: column;
              row-gap: 0.5rem;

              .postDetailMaterialFormContainer {
                display: grid;
                grid-auto-flow: column;
                gap: 1rem;
                grid-template-columns: auto 3rem;
                align-items: center;
                width: 100%;

                .postDetailMaterialForm {
                  width: 100%;

                  .postDetailMaterialFormInput {
                    width: 100%;
                    padding: 6px 8px;
                    border: 1px solid #969da3;
                    border-radius: 3px;
                    font-size: 1em;
                    line-height: 1.5;
                  }
                }

                .postDetailMaterialFormButtonContainer {
                  .postDetailMaterialFormButton {
                    border: 1px solid;
                    width: 2rem;
                    height: 2rem;
                    border-radius: 50%;
                    font-weight: bold;
                    font-size: 1.5rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                  }
                }
              }
            }
          }

          .postDetailTitleText {
            font-size: 1rem;
            font-weight: bold;
            margin-bottom: 0.5rem;
          }
        }

        .postImageContainer {
          display: grid;
          grid-template-rows: 3rem 20rem 1fr;
          // max-height: 40rem;
          padding: 1rem 2rem 0 2rem;
          background-color: #f2f8f8;

          .postImageQuanityLimitContainer {
            font-size: 0.8rem;
            display: flex;
            align-items: flex-start;

            .postImageQuanityLimitText {
              font-size: 0.8rem;
            }
          }

          .postImageContentContainer {
            height: 100%;
            width: 100%;
            background-color: #fff;

            .postImageContentContent {
              height: 100%;
              width: 100%;

              .postMainImage {
                height: 100%;
                width: 100%;
                object-fit: contain;
              }
            }
          }

          .postImageInputContainer {
            display: grid;
            gap: 2rem;
            grid-auto-flow: column;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            align-items: center;
            padding: 1.5rem 0px;

            .postImageContent {
              position: relative;
              height: 6rem;
              background-color: #fff;

              .postImage {
                height: 100%;
                width: 100%;
                object-fit: contain;
              }

              .postImageClearButton {
                position: absolute;
                top: -10px;
                left: 0px;
                border: 1px solid;
                padding: 0.5rem;
                width: 2rem;
                height: 2rem;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                background-color: #fff;
              }
            }

            .postImageAddComtainer {
              input {
                display: none;
              }

              .postImageAddButton {
                border: 1px solid;
                width: 2rem;
                height: 2rem;
                border-radius: 50%;
                font-weight: bold;
                font-size: 1.5rem;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #fff;
              }
            }
          }
        }
      }
    }

    .submitContainer {
      width: 100%;
      height: 100%;
      border-top: 1px solid;
      display: flex;
      align-items: center;
      padding: 1rem;
      justify-content: end;

      button {
        background-color: #69beef;
        color: white;
        text-align: center;
        border-radius: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.5rem 2rem;

        .postButtonText {
          font-size: 1rem;
          font-weight: bold;
        }

        &:hover {
          filter: brightness(0.95);
          cursor: pointer;
        }
      }
    }
  }
}

// 768px以上1,280px未満（タブレット）
@media (min-width: 1040px) {
  .container {
    width: 70vw;
    max-height: 90vh;
  }

  .postFormInputContentBorder {
    padding: 3rem 6rem;
  }

  .postDetailContainer {
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;

    .postDetailContent {
      overflow-y: auto;
    }
  }
}

// 768px以上1,280px未満（タブレット）
@media (max-width: 1039px) {
  .container {
    width: 90vw;
    max-height: 80vh;
    // height: 100vh;
    // margin-top: 10rem;
    // padding-top: 32rem;
    overflow-y: scroll;
  }

  .postFormInputContentBorder {
    padding: 3rem 6rem;
  }

  .postImageContentContainer {
    width: 100% !important;
  }

  .postDetailContainer {
    grid-auto-flow: row;
    grid-template-rows: 1fr 1fr;
  }

  .postDetailContent {
    order: 1;
    border-right: none !important;
  }

  .postDetailContent {
    order: 2;
  }

  .postDetailContainer {
    height: 100% !important;
  }

  .submitContainer {
    padding: 1rem;
  }
}

@media (max-width: 767px) {
  .container {
    width: 100vw !important;
    max-height: 80vh;
  }

  .postFormInputContentBorder {
    padding: 2rem;
  }

  .postFormInputContent {
    padding: 2rem;
  }
}

.errorMessage {
  padding-top: 0.5rem;
  color: red;
  font-size: 0.75em;
  font-weight: bold;
}