.postDetailContainer {
  display: grid;
  gap: 1.5rem;

  padding: 6rem 8rem 1.5rem 8rem;
  .postImageContainer {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    .postMainImageContainer {
      position: relative;
      width: 100%;
      border-radius: 1rem;
      max-height: 75vh;
      min-height: 30vh;
      aspect-ratio: 1/1;
      border: 1px solid #aaa;

      .postMainImage {
        width: 100%;
        height: 100%;
        object-fit: contain;
        border-radius: 0.5rem;

        &:hover {
          cursor: zoom-in;
        }
      }
      .navigateNextStyle {
        position: absolute;
        background-color: #fff;
        border-radius: 2rem;
        top: 50%;
        right: 2%;
        cursor: pointer;
      }
      .navigateBeforeStyle {
        position: absolute;
        background-color: #fff;
        border-radius: 2rem;
        top: 50%;
        left: 2%;
        cursor: pointer;
      }
    }
    .postImageSubContainer {
      display: grid;
      grid-template-columns: repeat(4, 1fr); /* 4等分のグリッド */
      grid-auto-rows: 1fr; /* 行の高さを均等にする */
      gap: 1rem;
      .postImageSub {
        width: 100%;
        aspect-ratio: 1; /* 正方形のボックスを維持 */
        display: flex; /* 画像を中央配置する */
        justify-content: center;
        align-items: center;
        border-radius: 1rem;
        .postImage {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 0.5rem;
          cursor: pointer;
          border: 1px solid #aaa;
        }
        .postImageSubSelected {
          border: 0.2rem solid #69beef;
        }
      }
    }
    .postImageTagContainer {
      margin-top: 0.5rem;
      display: flex;
      flex-direction: row;
      row-gap: 0.5rem;
      column-gap: 0.5rem;
      flex-wrap: wrap;
      width: 100%;
      .postImageTag {
        display: flex;
        padding: 0.5rem;
        border: 1px solid #000;
        border-radius: 0.5rem;
        align-items: center;
        .postImageTagText {
          margin-right: 0.5rem;
          font-weight: bold;
        }
      }
    }
  }
  .postDetailContent {
    .postDetailInfoContainer {
      display: grid;
      gap: 1rem;
      .postDetailTextContaienr {
        display: flex;
        align-content: center;
        .postDetailText {
          color: #fff;
          font-weight: bold;
          background-color: #69beef;
          padding: 1rem 2rem;
          border-radius: 0.5rem;
        }
      }
      .postDetailTitleContainer {
        .postDetailTitle {
          font-size: 3rem;
          font-weight: bold;
        }
      }
      .postDetailInformationContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1.5rem;
        color: #5D5D5D;

        .postDetailInfomationViewContainer {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 0.25rem;
          font-family: "Noto Sans JP", sans-serif;
          font-weight: bold;

          .postDetailInfomationView {
            font-size: 1rem;
            white-space: nowrap;
          }
        }
        .postDetailInfomationLikeCountContainer {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 0.25rem;
          cursor: pointer;
          .postDetailInfomationLikeCount {
            font-size: 1rem;
          }
          background-color: #fff;
          padding: 0.1rem 1rem;
          border-radius: 0.5rem;
          font-family: "Noto Sans JP";
          font-weight: bold;
        }

        .postDetailDropdownMenuContainer {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 0.5rem;
          position: relative;
          width: 100%;
          cursor: pointer;

          .menuContainer {
            width: max-content;
            position: absolute;
            left: 0;
            top: 0;
            margin-top: 1.25rem;
            background-color: #fff;
            border-radius: 0.25rem;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1),
              0 1px 2px rgba(0, 0, 0, 0.06);

            z-index: 100;
            .menuItem {
              font-size: 0.8rem;
              width: 100%;
              padding: 0.5rem  1rem;
              cursor: pointer;
              border-radius: 0.25rem;

              .postDetailEditContainer {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 0.5rem;
              }

              &:hover {
                background-color: #000;
                color: #fff;
                opacity: 0.3;
              }
            }
          }
        }
      }
      .postDetailProfileContainer {
        display: flex;
        align-items: center;
        background-color: #fff;
        padding: 1rem;
        gap: 1rem;
        border-radius: 1rem;
        .postDetailProfileIconContainer {
          .postDetailProfileIcon {
            cursor: pointer;
            max-width: 7rem;
            max-height: 7rem;
            border-radius: 50%;
            object-fit: cover;
            aspect-ratio: 1/1;
          }
        }
        .postDetailProfileContent {
          height: 100%;
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
          .postDetailProfileUserIdContainer {
            .postDetailProfileUserId {
              cursor: pointer;
              font-size: 1rem;
            }
          }
          .postDetailProfileUserNameContainer {
            .postDetailProfileUserName {
              cursor: pointer;
              font-weight: bold;
              font-size: 1.5rem;
            }
          }
          .postDetailProfileSNSContainer {
            display: flex;
            gap: 1rem;
          }
        }
      }
      .postDetailProfileDescriptionContainer {
        background-color: #fff;
        padding: 1rem;
        border-radius: 1rem;

        .postDetailProfileDescriptionContent {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;

          .postDetailProfileDescriptionTitle {
            font-weight: bold;
            font-size: 1.5rem;
          }

          .postDetailProfileDescription {
            position: relative;

            .postDetailProfileDescriptionInput {
              display: none;
            }

            .postDetailProfileDescriptionText {
              position: relative;
              max-height: 21.5rem; // 初期表示時の高さ
              margin-bottom: 0;
              padding-bottom: 1rem;
              overflow: hidden;
              transition: max-height 0.5s ease-in-out;
              white-space: break-spaces;


              &::after {
                content: "";
                display: block;
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 1rem;
                background: linear-gradient(
                  180deg,
                  hsla(0, 0%, 100%, 0) 0,
                  hsla(0, 0%, 100%, 0.9) 50%,
                  hsla(0, 0%, 100%, 0.9) 100%,
                  #fff
                );
              }
            }

            .expanded {
              max-height: 100vh;

              &::after {
                content: none;
              }
            }

            .postDetailProfileDescriptionLabel {
              display: flex;
              align-items: center;
              gap: 4px;
              position: absolute;
              bottom: 0;
              left: 50%;
              transform: translateX(-50%);
              color: #4f96f6;
              font-size: 0.8em;
              cursor: pointer;

              &:hover {
                color: #c7511f;
                text-decoration: underline;
              }

              &::after {
                content: "";
                display: inline-block;
                width: 10px;
                height: 5px;
                background-color: #b6bdc3;
                clip-path: polygon(0 0, 100% 0, 50% 100%);
              }
            }
          }
        }
      }

      .postDetailProfileBoothContainer {
        background-color: #fff;
        padding: 1rem;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        .postDetailProfileBoothTitleContainer {
          .postDetailProfileBoothTitle {
            font-weight: bold;
            font-size: 1.5rem;
          }
        }
        .postDetailProfileBoothContent {
          display: flex;
          flex-direction: column;
          gap: 1rem;
          .postDetailProfileBoothItem {
            cursor: pointer;
            display: grid;
            grid-template-columns: 7rem 1fr;
            gap: 1rem;
            width: 100%;
            .postDetailProfileBoothImage {
              width: 100%;
              aspect-ratio: 1;
              border-radius: 0.5rem;
              object-fit: cover;
            }
            .postDetailProfileBoothInfomationContainer {
              width: 100%;
              overflow: hidden;
              display: flex;
              flex-direction: column;
              gap: 0.5rem;
              .postDetailProfileBoothInfomationTitle {
                font-size: 1.1rem;
                font-weight: bold;
              }
              .postDetailProfileBoothInfomation {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 3; // 3行まで表示
                line-height: 1.6rem; // 行の高さを適切に設定
                max-height: calc(1.6rem * 3); // 3行分の高さを計算して設定
                word-break: break-word; // 単語の途中でも折り返し可能に
              }
            }
          }
        }
      }
    }
  }
}


@media (max-width: 768px) {
  .postDetailTitle {
    font-size: 2rem !important;
  }

  .postMainImageContainer {
   border-top: 1px solid #aaa !important;
  }
}

// 1,280px以上（デスクトップ）
@media (min-width: 1040px) {
  .postDetailContainer {
    grid-template-columns: 1fr 1fr;
  }
}

// 1040px以上1,279px未満（デスクトップ中）
@media (max-width: 1039px) {
  .postDetailContainer {
    grid-auto-flow: row;
    // gap: 5rem !important;
  }
}
