.notificationDetailContainer {
    display: grid;
    gap: 1.5rem;
    padding: 6rem 13rem 1.5rem 13rem;

    .notificationDetailTitle {
      font-size: 1.5rem;
      font-weight: bold;
      font-family: "Noto Sans JP";
    }

    .notificationDetailTypeContainer {
      display: flex;
    }

    .notificationDetailContentContainer {
      display: grid;
      background-color: #fff;
      padding: 1.5rem 8rem 1.5rem 8rem;
      border-radius: 1rem;
    }

    .notificationDetailContentText {
      font-size: 1rem;
      font-family: "Noto Sans JP";
    }

    .privacyPolicySection {
      padding-top: 1.5rem;
    }
  }
