.latestPostContainer {
  width: 100%;
  height: auto;
  padding: 3rem 8rem;
  display: flex;
  flex-direction: column;
  .latestPostTitle {
    color: #151c4b;
    text-align: center;
    // font-size: 2.25rem;
    font-size: 2.5rem;
    font-weight: bold;
    font-family: "Noto Sans JP";
    margin-bottom: 2rem;
  }
  .latestPostListConatiner {
    display: grid;
    gap: 1rem;
    width: 100%;
  }
}

// 1,280px以上（デスクトップ）
@media (min-width: 1280px) {
  .latestPostListConatiner {
    grid-template-columns: repeat(4, 1fr);
  }
}

// 1040px以上1,279px未満（デスクトップ中）
@media (max-width: 1279px) {
  .latestPostListConatiner {
    overflow-x: auto;
    grid-auto-flow: column;
  }
}

@media (max-width: 768px) {
  .latestPostTitle {
    font-size: 2rem !important;
  }
}