.latestPostConatiner {
  display: grid;
  gap: 1rem;
  width: 100%;
}

// 768px以上1,280px未満（タブレット）
@media (max-width: 1039px) {
  .latestPostConatiner {
    overflow-x: auto;
    grid-auto-flow: column;
  }
}
