.popularPostListContainer {
  padding: 3rem 1.5rem;
  width: 100%;

  .popularPostListTitle {
    color: #151c4b;
    font-family: "Noto Sans JP";
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
  }

  .popularPostList {
    display: grid;
    gap: 1rem;
    width: 100%;
  }
}

// 1,280px以上（デスクトップ）
@media (min-width: 1280px) {
  .popularPostList {
    grid-template-columns: repeat(4, 1fr);
  }
}

// 1040px以上1,279px未満（デスクトップ中）
@media (min-width: 1024px) and (max-width: 1279px) {
  .popularPostList {
    grid-template-columns: repeat(3, 1fr);
  }
}

// 768px以上1,280px未満（タブレット）
@media (max-width: 1023px) {
  .popularPostList {
    overflow-x: auto;
    grid-auto-flow: column;
    // grid-auto-columns: 20rem;
  }
}

@media (max-width: 768px) {
  .popularPostListTitle {
    font-size: 2rem !important;
  }
}