.popularTagContainer {
    width: 100%;
    height: auto;
    background-color: #FFFFFF;
    padding: 3rem 1.5rem;

    .popularTagTitleWrapper {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .popularTagTitle {
        color: #151C4B;
        text-align: center;
        font-size: 2.25rem;
        font-weight: bold;
        font-family: "Noto Sans JP";
    }

    
}