.faqContainer {
    display: grid;
    gap: 1.5rem;
    padding: 6rem 13rem 1.5rem 13rem;

    .faqTitle {
        justify-self: center;
        font-size: 2rem;
        font-weight: bold;
        font-family: "Noto Sans JP";
    }

    .faqContentContainer {
        display: grid;
        gap: 1.5rem;

        .qa {
            display: grid;
            max-width: 100%;
            margin-bottom: 7px;
            background-color: #fff;
            border: 1px solid #fff;
            border-radius: 5px;
        }

        .qa summary {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            padding: 1em 2em 1em 3em;
            color: #333333;
            font-weight: 600;
            cursor: pointer;
        }

        .qa summary::before,
        .qa p::before {
            position: absolute;
            left: 1em;
            font-weight: 600;
            font-size: 1.3em;
        }

        .qa summary::before {
            color: #75bbff;
            content: "Q";
        }

        .qa summary::after {
            transform: translateY(-25%) rotate(45deg);
            width: 7px;
            height: 7px;
            margin-left: 10px;
            border-bottom: 3px solid #333333b3;
            border-right: 3px solid #333333b3;
            content: '';
            transition: transform .5s;
        }

        .qa[open] summary::after {
            transform: rotate(225deg);
        }

        .qa p {
            position: relative;
            transform: translateY(-10px);
            opacity: 0;
            margin: 0;
            padding: .3em 3em 1.5em;
            color: #333;
            transition: transform .5s, opacity .5s;
        }

        .qa[open] p {
            transform: none;
            opacity: 1;
        }

        .qa p::before {
            color: #ff8d8d;
            line-height: 1.2;
            content: "A";
        }
    }

    .pagination {
        display: flex;
        justify-content: center;
        padding: 4rem 1.5rem;
        gap: 1.5rem;

        .paginationButton {
            background-color: #ffffff;
            color: 000000;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;

            .paginationButtonIcon {
                align-items: center;
                justify-content: center;
            }
        }

        .paginationSelectedButton {
            background-color: #69BEEF;
            color: #ffffff;
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }
    }
}

@media (max-width: 768px) {
    .faqContainer {
        padding: 6rem 1rem !important;
    }
}